@model AddBlogPostViewModel

@inject UserManager<ApplicationUser> UserManager
 
 
<!-- START MAIN CONTENT -->
<div class="main_content">
    <!-- START SECTION BLOG -->
    <div class="section">
        <div class="container">
            <div class="row">
                

                    <!-- Image Upload and Post Creation Form -->
                    <div class="image_upload_form">
                        <h5 class="widget_title">Add New Post</h5>
                        <form method="post" asp-controller="Blog" asp-action="Add" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="Title">Title:</label>
                                <input asp-for="Title" type="text" name="Title" id="title" class="form-control" required>
                                <span asp-validation-for="Title"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Context">Context:</label>
                                <textarea asp-for="Context" name="Context" id="context" class="form-control" rows="4" required></textarea>
                            <span asp-validation-for="Context"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ThumbMail">ThumbMail</label>
                            <input asp-for="ThumbMail" type="file" name="ThumbMail" id="thumbmail" accept="image/*" required>
                            </div>
                            <div class="form-group">
                            <label asp-for="LeftSideImage">LeftSideImage:</label>
                            <input asp-for="LeftSideImage" type="file" name="LeftSideImage" id="LeftSideImage" accept="image/*" required>
                            </div>
                            <div class="form-group">
                                <label asp-for="RightSideImage">RightSideImage:</label>
                                <input asp-for="RightSideImage" type="file" name="RightSideImage" id="RightSideImage" accept="image/*" required>
                            </div>
                            
                            
                            <input type="hidden" asp-for="AuthorId" value="@UserManager.GetUserId(User)"/>

                            <button type="submit" class="btn btn-fill-out">Add Post</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END SECTION BLOG -->
    
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}