@using Vcommerce.Data.Models.Enums
@{
    ViewData["Title"] = "Add Clothing Sizes";
}

@model ClothingSizesViewModel[]



<div class="container">
    
    <h2 class="text-center">@ViewData["Title"]</h2>

    <partial name="PartialViews/_ClothingSizesFormPartial" model="@Model"/>

</div>