@using Microsoft.AspNetCore.Identity
@using Vcommerce.Data.Models.Users
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager




@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown cart_dropdown">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="dropdown cart_dropdownml-auto">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="dropdown cart_dropdown">
        <a  asp-controller="User" asp-action="Register"><i class="ti-user"></i>Register</a>
    </li>
    <li class="dropdown cart_dropdown">
        <a  asp-controller="User" asp-action="Login"><i class="ti-user"></i>Login</a>
    </li>
}

       